<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item " href="#">
      <img src="https://cs3.wettercomassets.com/wcomv5/images/icons/weather/d_8.svg" width="112" height="28">
      Weather app
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  

  </div>
</nav>
<section class="hero my-font  is-fullheight kenburns-top"  >
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</section>

